<section id="burgerDisplay">
    <img src="/assets/images/burger.png" alt="Burger" width="100px;">


    <!-- Test Data -->
    <div id="burgersDBdata">
        <div>
            <h3>Burgers ordered</h3>
            <ol id="burgers">
                {{#each orderedBurgers}}
                <li data-id="{{id}}">{{burger_name}}</li>
                {{/each}}
            </ol>
        </div>
        <div>
            <h3>Burgers Devoured</h3>
            <ol id="burgersDevoured">
                {{#each devouredBurgers}}
                <li data-id="{{id}}">{{burger_name}}</li>
                {{/each}}
            </ol>
        </div>
    </div>

    <h1>Eat-Da-Burger</h1>
    <!-- Form Field -->

    <form action="javascript:void(0);" id="usrform" method="POST">
        <textarea rows="3" cols="50" name="burger" type="text" form="usrform" required maxlength="30"></textarea>
        <button id="burgerSubmit" type="submit">Submit</button>
    </form>

</section>