/* add your css here */
body{
background-color:#ffca63;
font-family: 'Roboto', sans-serif;
padding:30px 0;
box-sizing:border-box;
}

body p{
  margin:0;
  text-align:center;
}

#burgerDisplay h1{
  color:#c24a00;
  font-size:2em;
  margin: 10px auto;
}

.save-note{
  cursor:pointer;
}

/* FORM */

#burgerDisplay form{ 
  display: flex;
  flex-direction: column;
  width:100%;
}

#burgerDisplay form textarea{
  padding: 33px 20px;
  height:100px;
  min-height:100px;
  max-height:150px;
  margin-left:10%;
  width:80%;
  max-width:350px;
  margin:0 auto;
  resize: none;
  box-sizing:border-box;
  text-align:center;
}

#burgerSubmit, #burgerReset{
  margin: 20px auto;
  padding:5px;
  background-color:#336da8;
  color:white;
  border-radius:5px;
  border: 0 solid transparent;
  cursor:pointer;
  box-shadow: inset 0 -10px 10px -10px #000000;
}

#burgerDisplay{
  display:flex;
  justify-content: center;
  flex-direction: column;
  max-width:900px;
  margin:0 auto;
  margin-top:50px;
}

#burgerDisplay img{ 
  margin: 0 auto;
}

#burgerDisplay h3{
  text-align:center;
}

#burgerDisplay form button:hover{
  background-color:#21476f;
}

#burgersDBdata{
  display:flex;
  flex-direction: column;
  width:100%;
}

#burgersDBdata > div{
  width: 100%;
  flex-wrap: wrap;
}

#burgersDBdata div #burgers > div{
  margin: 0 auto;
  text-align: left;
  display:flex;
  justify-content: space-evenly;
  align-items:center;
  flex-direction: column;
}

#burgersDBdata div #burgers > div > div{
  border: 2px solid #666;
  background-color:white;
  padding:5px;
  width:50%;
  flex-direction: column;
}

#burgersDBdata div #burgers > div p{
  text-align:center;
}

#burgersDBdata div #burgers > div button{
  cursor:pointer;
}

#burgersDevoured div > div{
width: 50%;
margin: 0 auto;
background-color: white;
color: #666;
border: 2px solid #666;
}

#burgersDBdata div #burgers > div, #burgersDevoured > div{
  margin-bottom:5px;
}

#burgers div > div, #burgersDevoured div > div{
  padding:5px;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  #burgersDBdata div #burgers > div{
    flex-direction: row;
    width:100%;
    }
    #burgersDBdata {
      flex-direction: row;
    }
  }

@media only screen and (min-width: 768px) {
  
}

